{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <p class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        {{ post.authors }} ({{ post.date | default: "1900-01-01" | date: "%Y" }}) <a href="{{ post.paperurl }}" target="_blank" rel="noopener noreferrer">{{ post.title }}</a>,
      {% endif %}
      {% if post.status == "published" %}
        {% if post.venueType == "journal" %}
          <i>{{ post.venue }}</i>
          {% if post.volume and post.number and post.page %}
            {{ post.volume }} ({{ post.number }}), {{ post.page }}.
          {% elsif post.volume and post.number %}
             {{ post.volume }} ({{ post.number }}).
          {% elsif post.volume %}
             {{ post.volume }}.
          {% endif %}
        {% elsif post.venueType == "conference"%}  
          {% if post.award%}
            In Proceedings of the <i>{{ post.venue }}</i>, {{post.award}}.
          {% else%}
            In Proceedings of the <i>{{ post.venue }}</i>.
          {% endif %} 
        {% endif %}  
      {% elsif post.status == "accepted"%}
        {% if post.venueType == "journal" %}
          Accepted by <i>{{ post.venue }}</i>.
        {% elsif post.venueType == "conference"%}  
          Accepted to present at the <i>{{ post.venue }}</i>.
        {% endif %} 
      {% elsif post.status == "submitted"%}
        Submitted.
      {% endif %}
    </p>

    </li>
 </article>
</div>
